.header {
  background-color: #fff;
  height: 110px;
  position: -webkit-sticky;
  position: sticky;
  top: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  height: 40px;
  margin-left: 150px;
}

.header__logo img {
  width: 80px;
  height: auto;
  margin-top: 15px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 80px;
  margin-top: 0;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.header__menu li {
  margin: 0px 15px;
}

.header__menu a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #292f3d;
  font-weight: bold;
}

.header__menu a:hover {
  color: tomato;
}

@media (max-width: 768px) {
  .header__logo {
    margin-right: auto;
  }
  .navbar-collapse {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__menu ul {
    display: -webkit-box;
  }
  .header__logo {
    margin-left: 50px;
  }
}

footer {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.footer__map {
  margin-left: 50px;
  margin-top: 15px;
}

.footer__redes {
  padding: 50px;
  display: inline;
}

.footer__redes ul li {
  display: inline-block;
  margin: 15px 10px;
  width: 45px;
  height: 40px;
  text-align: center;
}

.footer__redes ul li a {
  display: block;
  background-color: #8e8f90;
  color: #fff;
  line-height: 36px;
  font-size: 20px;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-top: 5px;
  border-radius: 25%;
}

.footer__redes ul:hover a {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.footer__redes ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

.footer__redes ul li .face:hover {
  background-color: var(--facebook);
}

.footer__redes ul li .instagram:hover {
  background-color: var(--instagram);
}

.footer__redes ul li .wsp:hover {
  background-color: var(--whatsapp);
}

.footer__redes img {
  width: 1.2rem;
  height: auto;
  margin: auto;
  padding-bottom: 10px;
}

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --whatsapp: #4ac959;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

#main {
  display: block;
}

/* PRE HEADER*/
.pre-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40px;
  background-color: whitesmoke;
  color: #292f3d;
  font-weight: bold;
}

.pre-header div {
  margin-top: 6px;
}

.pre-header img {
  margin-right: 5px;
  width: 18px;
  height: auto;
}

.pre-header div a {
  text-decoration: none;
  color: #292f3d;
}

.pre-header div a:hover {
  color: #d2004b;
}

/* INDEX */
h1,
h2 {
  color: #292f3d;
}

.service__title {
  padding-top: 40px;
  color: #292f3d;
  font-weight: bold;
  text-align: center;
}

.service {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "colum1 colum2 colum3" "colum1 colum2 colum3";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 60px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service div {
  width: 75%;
  color: #7a7c7f;
  font-weight: bolder;
  margin-top: 10px;
}

.service span {
  color: #fff;
  background-color: #f8b14e;
  font-size: 2rem;
  border-radius: 50%;
  font-weight: bolder;
  width: 50px;
  height: auto;
}

.service h3 {
  color: #292f3d;
  font-weight: bolder;
  font-size: 1.6rem;
  padding-top: 15px;
}

.nav-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
  background-color: #fff;
  color: #292f3d;
  font-weight: bold;
  margin-top: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.nav-sticky ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.nav-sticky ul li {
  padding: 0 35px;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-sticky ul img {
  width: 25px;
  height: auto;
}

.nav-sticky ul li a {
  text-decoration: none;
  color: #292f3d;
}

.nav-sticky ul li a:hover {
  color: tomato;
}

#index-section {
  padding: 70px 0 0 0;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

#index-section h2 {
  color: #292f3d;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 20px;
}

#index-section p {
  font-size: 1.1rem;
}

#index-section .parrafo {
  width: 90%;
}

#index-section li {
  color: #7a7c7f;
  font-size: 1.1rem;
  line-height: 2rem;
}

#index-section img {
  width: 400px;
  height: auto;
}

/* NOSOTROS */
.section__nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr 1fr;
      grid-template-columns: 1.2fr 1fr 1fr;
  text-align: center;
  grid-gap: 10px;
  margin-top: 80px;
}

.section__nosotros h1 {
  font-size: 40px;
}

.section__nosotros__text {
  font-size: 1.1rem;
  color: #7a7c7f;
  font-weight: bold;
  text-align: left;
  width: 90%;
}

/* SERVICIOS */
#intro-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 140px;
  font-family: sans-serif;
  font-size: 2rem;
}

#grid-area {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "colum1 colum2" "colum1 colum2" "colum1 colum2";
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  text-align: center;
}

#grid-area div {
  width: 50%;
  display: inline-block;
  color: #292f3d;
  font-weight: bold;
  padding: 10px;
}

#grid-area div p {
  margin-top: 10px;
  color: #7a7c7f;
  font-weight: bold;
}

#grid-area #colum1 img {
  width: 650px;
  height: auto;
}

#grid-area #colum2 img {
  width: 650px;
  height: auto;
  padding-top: 40px;
}

.img-chica {
  width: 45px !important;
  height: auto;
  margin: 20px 10px;
}

.importante-saber {
  margin-top: 100px;
  text-align: -webkit-center;
}

.importante-saber h1 {
  font-size: 3rem;
}

.importante-saber h3 {
  margin-top: 40px;
  color: #7a7c7f;
  font-weight: bold;
  max-width: 50%;
}

/* TABLA - TRABAJOS */
.trabajos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "colum1 colum2 colum3";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  text-align: center;
}

.trabajos div {
  width: 95%;
}

.trabajos h4 {
  padding-top: 20px;
  font-weight: bolder;
  color: #292f3d;
}

.trabajos p {
  font-weight: bold;
  color: #7a7c7f;
  justify-items: center;
}

/* CONTACTO */
.gradient-contact {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa348), color-stop(#f8b14e), to(#fd8535));
  background-image: linear-gradient(to right, #ffa348, #f8b14e, #fd8535);
}

form {
  width: 350px;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  margin-top: 40px;
}

form h2 {
  font-size: 2.5rem;
  padding-bottom: 25px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1rem;
}

select {
  margin-bottom: 15px;
}

/* POSITION WHATSAPP */
.position-whatsapp {
  position: fixed;
  bottom: 10%;
  right: 1%;
}

.position-whatsapp img {
  width: 50px;
  height: auto;
}

@media (max-width: 768px) {
  #index-section {
    display: block;
    text-align: -webkit-center;
  }
  #index-section img {
    margin-top: 20px;
    text-align: center;
  }
  .pre-header {
    display: none;
  }
  .service__title {
    margin-top: 0;
  }
  .service {
    display: inline-block;
    text-align: -webkit-center;
  }
  .footer__map {
    margin-left: 0;
  }
  .footer__map iframe {
    max-width: 90%;
    margin-left: 10px;
  }
  .nav-sticky {
    display: block;
    height: 280px;
  }
  .nav-sticky ul {
    display: block;
    text-align: center;
  }
  .nav-sticky li {
    margin: 5px;
  }
  .section__nosotros {
    display: inline-block;
    text-align: -webkit-center;
  }
  .trabajos {
    display: inline-block !important;
    justify-items: center;
  }
  #grid-area .img-grande {
    width: 70% !important;
    height: auto;
  }
}

@media (max-width: 1000px) {
  footer {
    display: block;
  }
  .footer__map {
    padding-top: 20px;
  }
  .footer__redes {
    display: table-cell;
  }
  .trabajos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "colum1 colum2";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1125px) {
  .branding1 {
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .intro-servicios {
    display: block;
  }
  #grid-area {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style.css.map */