.header {
  background-color: $header-color;
  height: 110px;
  position: sticky;
  top: 1;
  display: flex;
  justify-content: space-around;
}

.header__logo {
  height: 40px;
  margin-left: 150px;
  img {
    width: 80px;
    height: auto;
    margin-top: 15px;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  margin-top: 0;
  ul {
    display: flex;
    text-decoration: none;
  }
  li {
    margin: 0px 15px;
  }
  a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #292f3d;
    font-weight: bold;
  }
  a:hover {
    color: $header-a-hover;
  }
}

@media (max-width: 595px) {

}

@media (max-width: 768px) {
  .header__logo {
    margin-right: auto;
  }
  .navbar-collapse {
    align-self: center;
  }
  .header__menu ul {
    display: -webkit-box;
  }
  .header__logo {
    margin-left: 50px;
  }
}
