$venta-producto: (
    prod1: url(../img/diseño1.jpg),
    prod2: url(../img/diseño2.jpg),
    prod3: url(../img/diseño3.jpg),
    prod4: url(../img/diseño4.jpg),
    prod5: url(../img/diseño5.jpg),
    prod6: url(../img/diseño6.jpg)
)